02 - Data/.DS_Store
02 - Data/Original Data/.DS_Store
02 - Data/Original Data/Coffee_Qlty.csv
02 - Data/Original Data/Coffee_Qlty_By_Continent.csv
02 - Data/Original Data/Coffee_Qlty_By_Country.csv
02 - Data/Original Data/psd_coffee.csv
02 - Data/Original Data/world-countries.json
02 - Data/Prepared Data/.DS_Store
02 - Data/Prepared Data/coffee_quality_cleaned.pkl
.DS_Store
